{% extends 'entrega3/base.html'%}


{% block titulo %} Búsqueda de Proveedores por Rubro {% endblock %}

{% block listado %}

<form>
      <p>
        <label for="criterio_rubro">Criterio:</label>
        <input type="text" name="criterio_rubro" maxlength="100" required="" id="criterio_rubro">   
      </p> 
      <p>
        <input type="submit" value="Buscar">
      </p>
</form>

<ul>
    {%  for proveedor in proveedores %}
        <li>{{proveedor}}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block title %} Proveedores {% endblock %}